body {
    margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  color: white;
}

.App-intro {
    margin-top: 80px;
    font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-control-feedback {
  position:absolute;
  line-height: 32px !important;
}

.nav.nav-tabs > li.active > a {
  border: 0;
}
.nav.nav-tabs > li > a,
.nav.tabs-vertical > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #505461 !important;
  cursor: pointer;
  padding: 0 10px;
  letter-spacing: 0.03em;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav.nav-tabs > li > a:hover,
.nav.tabs-vertical > li > a:hover {
  color: #5fbeaa !important;
}
.tab-content {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777777;
}
.nav.nav-tabs > li:last-of-type a {
  margin-right: 0px;
}
.nav.nav-tabs {
    display:inline-block;
    border-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navtab-bg {
  background-color: #f4f8fb;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #5fbeaa !important;
}

.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-justified > li > a {
  margin-bottom: 0;
}
